
*.pper
data/authentification
*.csv
data/passwd-entso-e
.Rproj.user/
.httr-oauth
.Rhistory
eag-tracker.Rproj
figures/eag-tracker.png
bp-2022-02-09.feather
bp-2022-02-09.xlsx
compare-data-sets.R
eag-tracker-entso-e.R
eag-tracker-entso-e.R
irena-2022-02-09-2.feather
irena-2022-02-09-2.xlsm
irena-2022-02-09.xlsm
.RData
data/entsoe-interim.feather
